<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dshe github repo" value="https://nuget.pkg.github.com/dshe/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="dshe" />
        <add key="ClearTextPassword" value="4e80ef88fadf70d7bc744f237c8c908ad41c140a" />
      </github>
  </packageSourceCredentials>
</configuration>