<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/dshe/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="dshe" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArWaD+4VFQEmfO+a6D885sQAAAAACAAAAAAAQZgAAAAEAACAAAADdv/pB6oREl6qGVsVfo1F8GGhGu7gAh86ukZECfUt0ZQAAAAAOgAAAAAIAACAAAAC302xYn//4e1hD/5wlsLfy/yIsmYS5PtuXF5fE4KLsNTAAAADp+b+zQJDxqrnYI+xyY8N897/vXUBFnsufh6QL9Tq2ONFU8W1TR9/D+ZW2B6URKe5AAAAArdfIe2MX0MtU9UNIjZVsVAFFY8WLH9L7eYOG/fM+Z7viuWt/Yfq0bON+s4w1ECOvyDPkYd0KnXkcCuaX2rnDGw==" />
    </github>
  </packageSourceCredentials>
</configuration>