<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
     <add key="github" value="https://nuget.pkg.github.com/dshe/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="dshe" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAArWaD+4VFQEmfO+a6D885sQAAAAACAAAAAAAQZgAAAAEAACAAAACDJlL20J3B/udrKoa5lB6uec8FU7oP86iUospIkr5/uAAAAAAOgAAAAAIAACAAAABNdnCCUUVdbewfvK29+f1jIYk3IT0zgQM4YSYn2s3iCDAAAAAFRr58PJZ8RtBImjsWJFhajCI+Sda4OsKRadi6dA5sa3PA43TuD1sLOrqaa+rDQShAAAAAxRXm1x5Jhn0Dl3j1lYpjjBYBvPwLrmIliSZmCXqvRShZ+WHvPMxCcQz/tvnIfPzTBuSAaT+mtvWwr4e9HG8tLw==" />
    </github>
  </packageSourceCredentials>
</configuration>